#header,#footer,.mobile_upload,.TabbedPanelsTabGroup,.title_creditcard2{ display:none;}
.upload_title{ display:block;}
.TabbedPanelsContentGroup {
	border-top:none;
}
.TabbedPanelsContent {
	padding:0px;
}

.breadcrumbs{display:none;}
.col_f,.center{
  width:100%;
  padding:0px 20px;
}

.section_content{
	padding:20px 20px;
	}

.fluid .grid6{ width: 100%; *width: 98%; margin-left:0; display:block;}

/*mobile only*/
#main_header{display:block; }
#main_header{
	margin:0px auto;
	padding:0px;
	max-width:100%;
	background:#e7e7e5;
	margin-bottom:0;
	}
.header_ci{
	background:url(../img/header_ci.png) no-repeat left top;
	height:80px;
	display:block;}
	
#footer_ci{display:block;}
#footer_ci{
	width:100%;
	}
#footer_top{ text-align:center; margin-top:20px; margin-bottom:8px; display:block;}
.gray_bg{ background:#e2e2e2;}
.index_bg{background-size:cover;}

#footer_ci .footerBtn img{float:left;}
.ml50_no{ padding-left:0px;}

/*lightbox*/
.lightbox_xl {
  width: 840px;
}

.lightbox_l {
  width:550px;
}
.pc_upload,.mobile_upload{ width:auto;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all{
.fancybox-close{
    background-image:url(../img/fancybox-close.png);
    background-size:16px 16px;
}
}

.card_front{margin-bottom:20px;}
.list_box02{height:110px;}