p.green {
    color: green;
}

p.lightblue {
    color: blue;
}

p.blue {
    color: purple;
}

h1 {
    background-color: yellow;
    font-size: 30pt;
    font-family: sans-sertf;
    text-decoration: underline;
}
