/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 2, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 21, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 28, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
}

/* line 38, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 42, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 48, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 52, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 56, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 60, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 68, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 74, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 79, ../../sass/ui/_jquery.fancybox.scss */
#fancybox-loading, .fancybox-prev span, .fancybox-next span {
  background-image: url(../../loan/img/js/fancybox/fancybox_sprite.png);
}

/* line 83, ../../sass/ui/_jquery.fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 95, ../../sass/ui/_jquery.fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../../loan/img/js/fancybox/fancybox_loading.gif) center center no-repeat;
}

/* line 101, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 22px;
  right: 22px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAZElEQVQoz5WQUQ6AIAxDl+wMeF5lR5T7PD+MGtYlxPC1vkLLDOegYcVp7LgRwCgsjRMIozEKy6tOg2JMhDzpnfSepqY4LZYK/zAsIhYlH3GrvzljWZTitOoo8GcJw+kFvi0dvwBzS0rFnwZBYQAAAABJRU5ErkJggg==);
  cursor: pointer;
  z-index: 8040;
}
/* line 110, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-close:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAeUlEQVQ4y2Ng8NJnBuJGIBYFYgYiMUhtA1gvkGgG4v9AfIVIQ0BqLkP1NMMErhBpCKZanBLEaAaJE1RASI4IW/C7jgin4vcaEYGFP3BpYQBFXqAoENEVipESjfg0E0xIxGjGm5SbidSMzRBwZgJl5yYiNSMbAtLDDAA5J8S2ju87wwAAAABJRU5ErkJggg==);
}

/* line 115, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(../../loan/img/js/fancybox/blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

/* line 127, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 131, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 135, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 146, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 151, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 156, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 160, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 171, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}

/* line 176, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-lock body {
  overflow: hidden !important;
}

/* line 180, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-lock-test {
  overflow-y: hidden !important;
}

/* line 184, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(../../loan/img/js/fancybox/fancybox_overlay.png);
}

/* line 194, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 200, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 207, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 215, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 219, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 228, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 244, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 250, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 254, ../../sass/ui/_jquery.fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 269, ../../sass/ui/_jquery.fancybox.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(../../loan/img/js/fancybox/fancybox_sprite@2x.png);
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  /* line 274, ../../sass/ui/_jquery.fancybox.scss */
  #fancybox-loading div {
    background-image: url(../../loan/img/js/fancybox/fancybox_loading@2x.gif);
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/* line 26, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .white {
  color: #fff;
}
/* line 27, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .green {
  color: #008852;
}
/* line 28, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .green_deep {
  color: #004a2f;
}
/* line 29, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .black_dark_text {
  color: #1b1b1b;
}
/* line 30, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .gray_deep_text {
  color: #626262;
}
/* line 31, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .gray_text {
  color: #979896;
}
/* line 32, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .colorImportant {
  color: #ff6c00;
}
/* line 36, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .bg_white {
  background-color: #fff;
}
/* line 38, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .clearfix {
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
/* line 43, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit body {
  background-color: #f9fbf7;
  font-family: Verdana, Arial, \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "LiHei Pro Medium", Helvetica, sans-serif !important;
}
/* line 47, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit p, #lb_apply_loan_credit pre, #lb_apply_loan_credit h6 {
  margin: 0;
}
/* line 50, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .float_l {
  float: left;
}
/* line 51, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .float_r {
  float: right;
}
/* line 53, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .br_3, #lb_apply_loan_credit .btn_l, #lb_apply_loan_credit .btn_m {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 54, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .br_5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 56, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .bs_main {
  -moz-box-shadow: 0px 3px 8px rgba(2, 2, 2, 0.15);
  -webkit-box-shadow: 0px 3px 8px rgba(2, 2, 2, 0.15);
  box-shadow: 0px 3px 8px rgba(2, 2, 2, 0.15);
}
/* line 60, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .block {
  display: block;
}
/* line 61, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .inline_block {
  display: inline-block;
}
/* line 62, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .v_align_top {
  vertical-align: top;
}
/* line 63, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .v_align_middle {
  vertical-align: middle;
}
/* line 64, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .v_align_bottom {
  vertical-align: bottom;
}
/* line 65, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .t_align_left {
  text-align: left;
}
/* line 66, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .t_align_center {
  text-align: center;
}
/* line 67, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .t_align_right {
  text-align: right;
}
/* line 70, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_full {
  width: 100%;
}
/* line 71, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_62 {
  width: 62px;
}
/* line 72, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_65 {
  width: 65px;
}
/* line 73, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_80 {
  width: 80px;
}
/* line 74, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_95 {
  width: 95px;
}
/* line 75, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_120 {
  width: 120px;
}
/* line 76, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_150 {
  width: 150px;
}
/* line 77, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_160 {
  width: 160px;
}
/* line 78, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_190 {
  width: 190px;
}
/* line 79, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_200 {
  width: 200px;
}
/* line 80, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_215 {
  width: 215px;
}
/* line 81, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_220 {
  width: 220px;
}
/* line 82, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_240 {
  width: 240px;
}
/* line 83, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_260 {
  width: 260px;
}
/* line 84, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_630 {
  width: 630px;
}
/* line 85, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_645 {
  width: 645px;
}
/* line 86, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .w_670 {
  width: 670px;
}
/* line 88, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .m_auto {
  margin-left: auto;
  margin-right: auto;
}
/* line 90, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .m_5 {
  margin: 5px;
}
/* line 91, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mt_5 {
  margin-top: 5px;
}
/* line 92, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mr_5 {
  margin-right: 5px;
}
/* line 93, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mb_5 {
  margin-bottom: 5px;
}
/* line 94, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .ml_5 {
  margin-left: 5px;
}
/* line 96, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .m_10 {
  margin: 10px;
}
/* line 97, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mt_10 {
  margin-top: 10px;
}
/* line 98, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mr_10 {
  margin-right: 10px;
}
/* line 99, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mb_10 {
  margin-bottom: 10px;
}
/* line 100, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .ml_10 {
  margin-left: 10px;
}
/* line 102, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .m_15 {
  margin: 15px;
}
/* line 103, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mt_15 {
  margin-top: 15px;
}
/* line 104, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mr_15 {
  margin-right: 15px;
}
/* line 105, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mb_15 {
  margin-bottom: 15px;
}
/* line 106, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .ml_15 {
  margin-left: 15px;
}
/* line 108, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .m_20 {
  margin: 20px;
}
/* line 109, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mt_20 {
  margin-top: 20px;
}
/* line 110, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mr_20 {
  margin-right: 20px;
}
/* line 111, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mb_20 {
  margin-bottom: 20px;
}
/* line 112, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .ml_20 {
  margin-left: 20px;
}
/* line 114, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .m_25 {
  margin: 25px;
}
/* line 115, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mt_25 {
  margin-top: 25px;
}
/* line 116, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mr_25 {
  margin-right: 25px;
}
/* line 117, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mb_25 {
  margin-bottom: 25px;
}
/* line 118, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .ml_25 {
  margin-left: 25px;
}
/* line 120, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .m_30 {
  margin: 30px;
}
/* line 121, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mt_30 {
  margin-top: 30px;
}
/* line 122, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mr_30 {
  margin-right: 30px;
}
/* line 123, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mb_30 {
  margin-bottom: 30px;
}
/* line 124, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .ml_30 {
  margin-left: 30px;
}
/* line 126, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .m_35 {
  margin: 35px;
}
/* line 127, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mt_35 {
  margin-top: 35px;
}
/* line 128, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mr_35 {
  margin-right: 35px;
}
/* line 129, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mb_35 {
  margin-bottom: 35px;
}
/* line 130, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .ml_35 {
  margin-left: 35px;
}
/* line 132, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .m_40 {
  margin: 40px;
}
/* line 133, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mt_40 {
  margin-top: 40px;
}
/* line 134, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mr_40 {
  margin-right: 40px;
}
/* line 135, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .mb_40 {
  margin-bottom: 40px;
}
/* line 136, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .ml_40 {
  margin-left: 40px;
}
/* line 138, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .p_5 {
  padding: 5px;
}
/* line 139, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pt_5 {
  padding-top: 5px;
}
/* line 140, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pr_5 {
  padding-right: 5px;
}
/* line 141, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pb_5 {
  padding-bottom: 5px;
}
/* line 142, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pl_5 {
  padding-left: 5px;
}
/* line 144, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .p_10 {
  padding: 10px;
}
/* line 145, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pt_10 {
  padding-top: 10px;
}
/* line 146, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pr_10 {
  padding-right: 10px;
}
/* line 147, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pb_10 {
  padding-bottom: 10px;
}
/* line 148, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pl_10 {
  padding-left: 10px;
}
/* line 150, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .p_15 {
  padding: 15px;
}
/* line 151, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pt_15 {
  padding-top: 15px;
}
/* line 152, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pr_15 {
  padding-right: 15px;
}
/* line 153, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pb_15 {
  padding-bottom: 15px;
}
/* line 154, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pl_15 {
  padding-left: 15px;
}
/* line 156, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .p_20 {
  padding: 20px;
}
/* line 157, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pt_20 {
  padding-top: 20px;
}
/* line 158, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pr_20 {
  padding-right: 20px;
}
/* line 159, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pb_20 {
  padding-bottom: 20px;
}
/* line 160, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pl_20 {
  padding-left: 20px;
}
/* line 162, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .p_25 {
  padding: 25px;
}
/* line 163, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pt_25 {
  padding-top: 25px;
}
/* line 164, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pr_25 {
  padding-right: 25px;
}
/* line 165, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pb_25 {
  padding-bottom: 25px;
}
/* line 166, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pl_25 {
  padding-left: 25px;
}
/* line 168, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .p_30 {
  padding: 30px;
}
/* line 169, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pt_30 {
  padding-top: 30px;
}
/* line 170, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pr_30 {
  padding-right: 30px;
}
/* line 171, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pb_30 {
  padding-bottom: 30px;
}
/* line 172, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pl_30 {
  padding-left: 30px;
}
/* line 174, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .p_35 {
  padding: 35px;
}
/* line 175, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pt_35 {
  padding-top: 35px;
}
/* line 176, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pr_35 {
  padding-right: 35px;
}
/* line 177, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pb_35 {
  padding-bottom: 35px;
}
/* line 178, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .pl_35 {
  padding-left: 35px;
}
/* line 184, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .breadcrumbs {
  padding-bottom: 30px;
}
/* line 187, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .col_s {
  width: 180px;
}
/* line 188, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .col_l {
  width: 740px;
}
/* line 190, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .title_side_menu {
  font-size: 20px;
  letter-spacing: 2px;
}
/* line 195, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .text_14 {
  font-size: 14px;
  line-height: 18px;
}
/* line 199, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .text_15 {
  font-size: 15px;
  line-height: 22px;
}
/* line 203, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .text_16 {
  font-size: 16px;
  line-height: 26px;
}
/* line 207, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .text_20 {
  font-size: 20px;
  line-height: 30px;
}
/* line 211, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .text_26 {
  font-size: 26px;
  line-height: 30px;
}
/* line 215, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .text_30 {
  font-size: 30px;
  line-height: 32px;
}
/* line 222, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_text_link {
  text-decoration: underline;
}
/* line 225, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_text_green {
  color: #00a94f;
}
/* line 227, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_text_green:hover {
  color: #008852;
}
/* line 231, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_l {
  height: 40px;
  padding: 0 20px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
/* line 239, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_l strong {
  font-size: 13px;
  font-weight: bold;
}
/* line 243, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_l:hover {
  text-decoration: none;
}
/* line 247, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_m {
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
/* line 255, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_m:hover {
  text-decoration: none;
}
/* line 259, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_colorImportant {
  padding: 0 40px;
  color: #fff;
  border: 1px solid #ffae72;
  background: #ff9445;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTQ0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2YwNjYwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #ff9445 0%, #f06601 80%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9445), color-stop(80%, #f06601));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff9445 0%, #f06601 80%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff9445 0%, #f06601 80%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff9445 0%, #f06601 80%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff9445 0%, #f06601 80%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9445', endColorstr='#f06601',GradientType=0 );
  /* IE6-8 */
}
/* line 274, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_colorImportant:hover {
  color: #fff;
  background: #ff7e1f;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmN2UxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2ZmNTMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #ff7e1f 0%, #ff5300 80%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7e1f), color-stop(80%, #ff5300));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff7e1f 0%, #ff5300 80%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff7e1f 0%, #ff5300 80%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff7e1f 0%, #ff5300 80%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff7e1f 0%, #ff5300 80%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7e1f', endColorstr='#ff5300',GradientType=0 );
  /* IE6-8 */
}
/* line 292, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_gray {
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 3px white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 3px white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 3px white;
  color: #004a2f;
  border: 1px solid #ccc;
  background: #ffffff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 80%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(80%, #e6e6e6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 80%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 80%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 80%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 80%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
  /* IE6-8 */
}
/* line 308, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_gray:hover {
  color: #00a94f;
}
/* line 316, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit [class^="arrow_s_"] {
  display: inline-block;
  vertical-align: middle;
}
/* line 320, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .arrow_s_right {
  width: 5px;
  height: 9px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJCAYAAAD6reaeAAAAJUlEQVQY02NgWOn/H4gZUDBU8D8uwf+4BP/jEvxPlErCtqO4EwB9VESAkbZiRgAAAABJRU5ErkJggg==);
  vertical-align: baseline;
}
/* line 329, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_text_link .arrow_s_right {
  margin-left: 5px;
}
/* line 331, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .btn_text_link:hover .arrow_s_right {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJCAYAAAD6reaeAAAAKElEQVQY02Ng6Aj6DwQMyJgBJIguARdElkARhElgCIIxQZWEbUd3JwC/0mn2WM95KAAAAABJRU5ErkJggg==);
}
/* line 339, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_square_gray {
  list-style-image: url(../../loan/img/bg_list_square_gray.png);
}
/* line 341, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_square_gray li {
  margin: 0 0 2px 20px;
}
/* line 345, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_square_green {
  list-style-image: url(../../loan/img/bg_list_square_green.png);
}
/* line 347, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_square_green li {
  margin: 0 0 2px 20px;
}
/* line 351, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_decimal {
  list-style: decimal;
}
/* line 353, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_decimal li {
  margin: 0 0 5px 20px;
}
/* line 361, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .title_normal {
  color: #008852;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
/* line 367, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .paragraph_important {
  color: #ff6c00;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
/* line 373, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .paragraph_normal {
  color: #626262;
  font-size: 16px;
  line-height: 26px;
}
/* line 377, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .paragraph_normal strong {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
}
/* line 383, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .paragraph_remark {
  color: #979896;
  font-size: 14px;
  line-height: 18px;
}
/* line 387, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .paragraph_remark strong {
  font-size: 15px;
  font-weight: normal;
}
/* line 392, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .body_lightbox {
  padding: 0;
}
/* line 395, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .content_lightbox {
  padding: 0;
}
/* line 398, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .content_explain_apply {
  padding: 20px 0 20px 150px;
  color: #898989;
  text-align: left;
}
/* line 402, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .content_explain_apply .list_square_gray {
  width: 450px;
}
/* line 407, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_apply li {
  float: left;
  width: 240px;
  height: 310px;
  padding: 20px;
  text-align: center;
}
/* line 413, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_apply li.li_1_list_apply {
  background-color: #c2e1c2;
}
/* line 415, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_apply li.li_1_list_apply .title_list_apply {
  margin: 10px 0 15px 0;
}
/* line 419, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_apply li.li_2_list_apply {
  background-color: #fff9b1;
}
/* line 422, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_apply li.li_3_list_apply {
  background-color: #ccdbd6;
}
/* line 424, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_apply li.li_3_list_apply .title_list_apply {
  margin: 12px 0 14px 0;
}
/* line 428, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_apply li .title_list_apply {
  font-size: 16px;
  line-height: 23px;
}
/* line 431, ../../sass/loan/_lb_apply_loan_credit_common.scss */
#lb_apply_loan_credit .list_apply li .title_list_apply strong {
  font-size: 20px;
}

/* line 442, ../../sass/loan/_lb_apply_loan_credit_common.scss */
html.no-boxshadow .bs_main {
  -moz-box-shadow: 0 0px 0px 0px rgba(2, 2, 2, 0.15);
  -webkit-box-shadow: 0 0px 0px 0px rgba(2, 2, 2, 0.15);
  box-shadow: 0 0px 0px 0px rgba(2, 2, 2, 0.15);
  border: 1px solid #d7d7d7;
}

/* line 448, ../../sass/loan/_lb_apply_loan_credit_common.scss */
[class^="lightbox_"] {
  background-color: #fff;
}
/* line 450, ../../sass/loan/_lb_apply_loan_credit_common.scss */
[class^="lightbox_"] * {
  box-sizing: border-box;
}

/* line 454, ../../sass/loan/_lb_apply_loan_credit_common.scss */
.lightbox_xl {
  width: 840px;
}

/* line 457, ../../sass/loan/_lb_apply_loan_credit_common.scss */
.lightbox_l {
  width: 720px;
}

/* line 460, ../../sass/loan/_lb_apply_loan_credit_common.scss */
.header_lightbox {
  display: block;
  height: 60px;
  background-color: #00a94f;
}

/* line 465, ../../sass/loan/_lb_apply_loan_credit_common.scss */
.header_lightbox_h {
  display: block;
  height: 70px;
  background-color: #00a94f;
}

/* line 470, ../../sass/loan/_lb_apply_loan_credit_common.scss */
.title_lightbox {
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}

/* line 477, ../../sass/loan/_lb_apply_loan_credit_common.scss */
.header_lightbox_h .title_lightbox {
  line-height: 70px;
}
/* line 479, ../../sass/loan/_lb_apply_loan_credit_common.scss */
.header_lightbox_h .title_lightbox span {
  display: inline-block;
  line-height: 25px;
  text-align: left;
  vertical-align: middle;
}

/* line 487, ../../sass/loan/_lb_apply_loan_credit_common.scss */
.body_lightbox {
  /*max-height: 500px;*/
  padding: 0 0 15px 0;
}

/* line 491, ../../sass/loan/_lb_apply_loan_credit_common.scss */
.content_lightbox {
  margin: 0 auto;
  padding: 30px 30px 15px 30px;
}
